@using Projet1.Models;
<li class="treeview">
    <a href="#">
        <i class="fa fa-wrench"></i> <span>Configuration</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href=""><i class="fa fa-circle-o"></i> Profil</a></li>
        <li>
            <a href="#"><i class="fa fa-circle-o"></i>Couleurs <i class="fa fa-angle-left pull-right"></i></a>

            <ul class="treeview-menu list-unstyled clearfix">
                @CreateMenuSkin("Menu foncé", MenuSkin.listSkinColorDark)
                @CreateMenuSkin("Menu clair", MenuSkin.listSkinColorLight)
            </ul>
        </li>

    </ul>
</li>


@helper CreateMenuSkin(string title, List<SkinColor> list)
{
    <li class="titreMenu">
        <div class="text-center no-margin">@title</div>
    </li>
foreach (SkinColor m in list)
{
        <li>
            <div class="CellSkinCtrol">
                <a href="javascript:void(0);" data-skin="@m.SkinLTE" class="clearfix full-opacity-hover">
                    <div>
                        <span class="rectLeftTop @m.ColorRectTopLeft"></span>
                        <span class="rectRightTop @m.ColorRectTopRight"></span>
                    </div>
                    <div>
                        <span class="rectLeftBottom @m.ColorRectBottomLeft"></span>
                        <span class="rectRightBottom @m.ColorRectBottomRight"></span>
                    </div>
                </a>
                <div class="titreMenu text-center no-margin">@m.LabelSkin</div>
            </div>

        </li>

}



}





